<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>KSearch <!--cgi: version--> Results</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="ks_images/style.css" type="text/css" />
</head>
<body>
<a name="top"></a>
	<table border="0" cellpadding="5" cellspacing="2" bgcolor="#00B852" width="80%" align="center">
		<tr><td> <!--cgi: header--> <!--cgi: subheader--> <!--cgi: searchtime--> </td></tr>
	</table>
		<div class="content">
			<p><a href="../../HERE//ArubaOS_61/ArubaOS_61_CLI/index.html"><strong>&larr;&larr;&larr; Return to Home Page</strong></a></p>
		</div>
	<h2>Your Search Results</h2>
	<table cellpadding="5" cellspacing="2" border="0"  align="center">
		<tr><td> <!--cgi: previous--> <!--cgi: navbar--> <!--cgi: next--> </td></tr>
	</table>
<div class="results_table">
	<div class="results_loop">
		<table width="80%" border="0">
			<tr><td>
				<!--loop: results-->
					<strong><!--item: rank-->. &nbsp; <a href="<!--item: url-->"><!--item: title--> </a></strong>
					<ul><li><!--item: description--></li>
						<li><font size="1" color="#898989"> <!--item: scoreA--> &nbsp; <!--item: scoreB--> &nbsp; <!--item: scoreC--> &nbsp; <!--item: scoreD--> </font></li>
					</ul>
				<!--end: results-->
			</td></tr>
		</table>  
	</div>    
	<table width="80%" cellpadding="5" cellspacing="2" border="0" align="center">
		<tr><td> <!--cgi: previous--> <!--cgi: navbar--> <!--cgi: next--> </td></tr>
	</table>
	<a name="form"></a>
	<h2>Search again ..</h2>
	<div class="search_again">
		<table cellpadding="10" cellspacing="0" border="0" align="center">
			<tr><td>
				<form name="search"  method="get" action="<!--cgi: search_url-->">
					<input type="text" size="35" name="<!--cgi: input_name-->" value="<!--cgi: query_str-->" onfocus="select(this);" />
					&nbsp; <input type="submit" value="Search" />
					<br />
					<table border="0" cellpadding="5" cellspacing="0">
						<tr><td align="left">
								<!--cgi: subsearch--><br />
								<!--cgi: c--><br />
								<!--cgi: w--><br />
								<!--cgi: st-->
							</td>
							<td valign="top">
								Sort by <select name="sort"> <!--cgi: sort--> </select><br /><br />
								Display <select name="display"> <!--cgi: display--> </select>
							</td>
						</tr>
						<tr>
							<td align="left" colspan="2"><br /><strong>Content Search Options</strong></td>
						</tr>
						<tr>
							<td align="left" colspan="2">
								<!--cgi: b--> <!--cgi: t--> <!--cgi: u--> <!--cgi: alt--> <!--cgi: l-->
								<br />
								<!--cgi: d--> <!--cgi: k-->  <!--cgi: default-->
								<br />
								 <!--cgi: au--> <!--cgi: show_matches-->
							</td>
						</tr>
					</table>
				</form>
			</td></tr>
		</table>
		<br />
		<table border="0" cellpadding="2" cellspacing="0" bgcolor="#00B852" width="100%">
			<tr>
				<td align="center">
					<!--cgi: results--> | &nbsp; Page <strong><!--cgi: current_page--></strong> of <strong><!--cgi: total_pages--></strong> | 
					&nbsp; <small>Powered by <a href="http://www.kscripts.com/">KSearch <!--cgi: version--></a></small>
				</td>
				<td align="right"><a href="#top"><strong>Back to top &nbsp; </strong></a></td>
			</tr>
		</table>
</div>
</div>
</body>
</html>